.level__img {
    height: calc(100vh - 3rem);
    width: 100vw;
}

.box {
    border: 2px solid black;
    height: 8vh;
    width: 3vw;
    position: absolute;
    top: 39%;
    left: 48.5%;
}

.game__dropdown {
    position: absolute;
    background-color: white;
    z-index: 2;
}

.dropdown__item {
    margin: 0;
    padding: .5rem 1rem;
    cursor: pointer;
}

.dropdown__item:hover {
    background: rgba(0, 0, 0, .3);
}

.game__targeting-box {
    position: absolute;
    height: 6%;
    width: 2%;
    border: solid black 2px;
}

.test-box {
    height: 10px;
    width: 10px;
    background: red;
    position: absolute;
    top: 42%;
    left: 49.5%;
}
