.win {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: salmon;
    padding: 2rem;
}

.win__text {
    font-size: 3.5rem;
    letter-spacing: 4px;
    margin-top: 0;
}

.win__input {
    font-size: 1.5rem;
}